<a href="https://colab.research.google.com/github/ElsaMolina/CursosPandas/blob/main/Pandas_E_S.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 1- Leyendo archivos CSV

## Importando archivos CSV

In [29]:
import pandas as pd

In [30]:
datos = pd.read_csv('superstore_data.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'superstore_data.csv'

In [ ]:
datos.head()

## Parámetros de la función read_csv

In [ ]:
#Utilizando el parámetro sep
datos_punto_coma = pd.read_csv('superstore_data_punto_coma.csv', sep=';')

In [ ]:
datos_punto_coma.head()

In [ ]:
#Utilizando el parámetro nrows
datos_primeras_lineas = pd.read_csv('superstore_data.csv', nrows=5)
datos_primeras_lineas

In [ ]:
#Utilizando el parámetro usecols
datos_seleccion = pd.read_csv('superstore_data.csv', usecols=['Id','Year_Birth','Income' ])
datos_seleccion

In [ ]:
datos_seleccion = pd.read_csv('superstore_data.csv', usecols=[0,1,4 ])
datos_seleccion

## Escribiendo archivos CSV

In [ ]:
datos_seleccion.to_csv('clientes_mercado.csv')

In [ ]:
cliente_mercado = pd.read_csv('clientes_mercado.csv')
cliente_mercado

In [ ]:
datos_seleccion.to_csv('datos_clientes_mercado.csv', index=False)

In [ ]:
datos_mercado = pd.read_csv('datos_clientes_mercado.csv')
datos_mercado

# Aula 2 - Leyendo archivos EXCEL

## Importando archivos Excel

In [ ]:
import pandas as pd

In [31]:
arcivos_excel = 'emisiones_CO2.xlsx'

In [32]:
datos_co2= pd.read_excel(arcivos_excel)

FileNotFoundError: [Errno 2] No such file or directory: 'emisiones_CO2.xlsx'

In [ ]:
datos_co2.head()

In [ ]:
pd.ExcelFile(arcivos_excel).sheet_names

## Parámetros de la función read_excel

In [ ]:
percapita =pd.read_excel(arcivos_excel, sheet_name='emisiones_percapita')

In [ ]:
percapita.tail()

In [ ]:
fuentes =pd.read_excel(arcivos_excel, sheet_name='fuentes')

In [ ]:
fuentes.tail()

In [ ]:
intervalo =pd.read_excel(arcivos_excel, sheet_name='emisiones_C02',usecols='A:D')

In [ ]:
intervalo

In [ ]:
intervalo_2 =pd.read_excel(arcivos_excel, sheet_name='emisiones_C02',usecols='A:D', nrows=10)

In [ ]:
intervalo_2

## Escribiendo archivo Excel

In [ ]:
intervalo.to_excel('co2_percapita.xlsx',index=False)

In [ ]:
pd.read_excel('co2_percapita.xlsx')

## Leyendo datos de Google Sheets

In [ ]:
https://docs.google.com/spreadsheets/d/1fM-6EHQOzH3YHMov5KIQdai-3yalCisw/edit?usp=sharing&ouid=108925122500076388025&rtpof=true&sd=true

In [ ]:
sheet_id = '1fM-6EHQOzH3YHMov5KIQdai-3yalCisw'
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet'

In [ ]:
datos_co2_sheets = pd.read_csv(url)

In [ ]:
datos_co2_sheets

In [ ]:
sheet_id = '1fM-6EHQOzH3YHMov5KIQdai-3yalCisw'
sheet_name = 'emisiones_percapita'
url_percapita = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [ ]:
percapita_sheets = pd.read_csv(url_percapita)
percapita_sheets

# Aula 3 - Leyendo archivos JSON

## Importando archivos JSON

In [ ]:
import pandas as pd

In [ ]:
datos_pacientes =pd.read_json('pacientes.json')

In [ ]:
datos_pacientes

In [ ]:
datos_pacientes_2 =pd.read_json('pacientes_2.json')
datos_pacientes_2

## Normalizando archivos JSON

In [ ]:
df_normalizado = pd.json_normalize(datos_pacientes_2['Pacientes'])

In [ ]:
df_normalizado

## Escribiendo archivos JSON

In [33]:
df_normalizado.to_json('historico_pacientes_norm.json')

NameError: name 'df_normalizado' is not defined

In [ ]:
pd.read_json('historico_pacientes_norm.json')

# Aula 4 - Leyendo archivos web

## Importando páginas web

In [ ]:
import pandas as pd

In [ ]:
datos_html = pd.read_html('peliculas_wikipedia.html')

In [ ]:
datos_html

In [ ]:
type(datos_html)

In [ ]:
top_peliculas = datos_html[1]

In [ ]:
top_peliculas

## Escribiendo archivos HTML

In [ ]:
top_peliculas.to_html('top_peliculas.html', index=False)

In [ ]:
pd.read_html('top_peliculas.html')

In [ ]:
top_peliculas.to_csv('top_peliculas_1998.csv', index=False)

In [ ]:
datos = pd.read_csv('top_peliculas_1998.csv')
datos

## Leyendo/escribiendo archivos XML

In [ ]:
import pandas as pd

In [ ]:
datos_imdb = pd.read_xml('imdb_top_1000.xml')

In [ ]:
datos_imdb.head(3)

In [ ]:
datos_imdb.to_xml('datos_imdb.xml', index= False)

In [ ]:
pd.read_xml('datos_imdb.xml')

# Aula 5 - Leyendo banco de datos

## Creando un banco de datos local

In [34]:
import sqlalchemy

In [35]:
from sqlalchemy import create_engine, MetaData, Table, inspect, text

In [36]:
engine = create_engine ('sqlite:///:memory')

## Escribiendo en un banco de datos

In [37]:
import pandas as pd

In [38]:
archivo = 'clientes_banco.csv'

In [39]:
datos = pd.read_csv(archivo)

In [40]:
datos.head()

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
4,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio

In [41]:
datos.to_sql('clientes', engine, index = False)

ValueError: Table 'clientes' already exists.

In [42]:
inspector = inspect(engine)

In [43]:
print(inspector.get_table_names())

['clientes', 'empleados']

## Leyendo una consulta SQL

In [44]:
query = 'SELECT * FROM clientes WHERE Categoria_de_renta = "Empleado"'

In [45]:
empelados = pd.read_sql(sql=text(query), con = engine.connect())

In [46]:
type (empelados)

pandas.core.frame.DataFrame

In [47]:
empelados

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008815,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1,Casa/Departamento propio
4,5112956,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
226054,6837905,43,Nivel intermedio,Casado,3,Empleado,Otro,7,355050.0,1,Casa/Departamento propio
226055,6837906,43,Nivel intermedio,Casado,3,Empleado,Otro,7,355050.0,1,Casa/Departamento propio
226056,6839936,34,Nivel intermedio,Casado,3,Empleado,Construcción Civil,5,135000.0,1,Casa/Departamento propio
226057,6840222,43,Nivel intermedio,Soltero,1,Empleado,Construcción Civil,8,103500.0,0,Casa/Departamento propio
226058,6842885,51,Nivel intermedio,Casado,2,Empleado,Ventas,3,121500.0,0,Casa/Departamento propio

In [48]:
empelados.to_sql('empleados', con = engine.connect(), index = False)

ValueError: Table 'empleados' already exists.

In [49]:
pd.read_sql_table('empleados', con = engine.connect())

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008815,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1,Casa/Departamento propio
4,5112956,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
226054,6837905,43,Nivel intermedio,Casado,3,Empleado,Otro,7,355050.0,1,Casa/Departamento propio
226055,6837906,43,Nivel intermedio,Casado,3,Empleado,Otro,7,355050.0,1,Casa/Departamento propio
226056,6839936,34,Nivel intermedio,Casado,3,Empleado,Construcción Civil,5,135000.0,1,Casa/Departamento propio
226057,6840222,43,Nivel intermedio,Soltero,1,Empleado,Construcción Civil,8,103500.0,0,Casa/Departamento propio
226058,6842885,51,Nivel intermedio,Casado,2,Empleado,Ventas,3,121500.0,0,Casa/Departamento propio

In [50]:
pd.read_sql_table('empleados', con = engine.connect(), columns=['ID_Cliente', 'Grado_estudio', 'Rendimiento_anual'])

        ID_Cliente     Grado_estudio  Rendimiento_anual
0          5008804    Nivel superior           427500.0
1          5008805    Nivel superior           427500.0
2          5008806  Nivel intermedio           112500.0
3          5008815    Nivel superior           270000.0
4          5112956    Nivel superior           270000.0
...            ...               ...                ...
226054     6837905  Nivel intermedio           355050.0
226055     6837906  Nivel intermedio           355050.0
226056     6839936  Nivel intermedio           135000.0
226057     6840222  Nivel intermedio           103500.0
226058     6842885  Nivel intermedio           121500.0

[226059 rows x 3 columns]

## Actualizando un banco de datos

In [51]:
query = 'SELECT * FROM clientes'

In [52]:
pd.read_sql(sql=text(query), con = engine.connect())

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
4,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
438458,6840104,62,Nivel intermedio,Divorciado,1,Pensionista,Otro,0,135000.0,0,Casa/Departamento propio
438459,6840222,43,Nivel intermedio,Soltero,1,Empleado,Construcción Civil,8,103500.0,0,Casa/Departamento propio
438460,6841878,22,Nivel superior,Soltero,1,Business Partner,Ventas,1,54000.0,0,Vive con los padres
438461,6842765,59,Nivel intermedio,Casado,2,Pensionista,Otro,0,72000.0,0,Casa/Departamento propio
438462,6842885,51,Nivel intermedio,Casado,2,Empleado,Ventas,3,121500.0,0,Casa/Departamento propio

In [53]:
#Borrando registros

from sqlalchemy.exc import SQLAlchemyError

query = 'DELETE FROM clientes WHERE ID_Cliente = 5008804'

try:
  r_set = engine.connect().execute(text(query))
except SQLAlchemyError as e:
  print(e)
else:
  print("#Registros borrados: ", r_set.rowcount)

(sqlite3.OperationalError) database is locked
[SQL: DELETE FROM clientes WHERE ID_Cliente = 5008804]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [55]:
pd.read_sql_table('clientes', con = engine.connect())

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
4,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
438458,6840104,62,Nivel intermedio,Divorciado,1,Pensionista,Otro,0,135000.0,0,Casa/Departamento propio
438459,6840222,43,Nivel intermedio,Soltero,1,Empleado,Construcción Civil,8,103500.0,0,Casa/Departamento propio
438460,6841878,22,Nivel superior,Soltero,1,Business Partner,Ventas,1,54000.0,0,Vive con los padres
438461,6842765,59,Nivel intermedio,Casado,2,Pensionista,Otro,0,72000.0,0,Casa/Departamento propio
438462,6842885,51,Nivel intermedio,Casado,2,Empleado,Ventas,3,121500.0,0,Casa/Departamento propio

In [56]:
#editando registros

query = 'UPDATE clientes SET Grado_estudio = "Nivel superior" WHERE ID_Cliente=5008808	'

try:
  r_set = engine.connect().execute(text(query))
except SQLAlchemyError as e:
  print(e)
else:
  print("#Registros actualizados: ", r_set.rowcount)

(sqlite3.OperationalError) database is locked
[SQL: UPDATE clientes SET Grado_estudio = "Nivel superior" WHERE ID_Cliente=5008808	]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [57]:
inspector = inspect(engine)

In [58]:
print(inspector.get_table_names())

['clientes', 'empleados']